.rmt-drawbar {
	display: none;
}


.carousel-1 .rs-carousel-runner .rs-carousel-item .flag-aus {
	background-image: url(../img/flags/aus_small.png);
}

.carousel-1 .rs-carousel-runner .rs-carousel-item .flag-bgr {
	background-image: url(../img/flags/bgr_small.png);
}

.carousel-1 .rs-carousel-runner .rs-carousel-item .flag-can {
	background-image: url(../img/flags/can_small.png);
}

.carousel-1 .rs-carousel-runner .rs-carousel-item .flag-deu {
	background-image: url(../img/flags/deu_small.png);
}

.carousel-1 .rs-carousel-runner .rs-carousel-item .flag-dnk {
	background-image: url(../img/flags/dnk_small.png);
}

.carousel-1 .rs-carousel-runner .rs-carousel-item .flag-nor {
	background-image: url(../img/flags/nor_small.png);
}

.carousel-1 .rs-carousel-runner .rs-carousel-item .flag-nzl {
	background-image: url(../img/flags/nzl_small.png);
}

.carousel-1 .rs-carousel-runner .rs-carousel-item .flag-usa {
	background-image: url(../img/flags/usa_small.png);
}