/* CSS Document */

body{
	width:320px;
	height:480px;
	background-color:#FFF;
}
textarea{
	font-size:10pt;
	line-height:18px;
	width:300px;
	height:150px;
	background-color:#eea;
	background-image:url(paper.png);
}
#saveButton{
	display:block;
}