/* CSS Document */

#myCanvas{
	position:absolute;
	left:0px;
	top:0px;
	background-color:#000;
	background:-webkit-gradient(linear,left top,left bottom,from(#325b2c),color-stop(0.5,#0c2617),to(#1c5817));
	-webkit-user-select:none;
}

#clock{
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
	-webkit-user-select:none;
}

#clockImage{
	width:1px;
	height:1px;
	overflow:hidden;
}

#copyright{
	position:absolute;
	left:0px;
	top:440px;
	width:320px;
	height:15px;
	z-index:3;
	font-size:9pt;
	font-weight:bold;
	color:#FFF;
	text-align:right;
}