/* CSS Document */

body{
	width:320px;
	height:480px;
	background-color:-webkit-gradient(linear, left top, left bottom, from(#325b2c), color-stop(0.5, #0c2617), to(#1c5817));
}

#clock{
	position:absolute;
	left:0px;
	top:50%;
	width:100%;
	font-size:40pt;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	text-shadow:2px 2px 7px #50b010;
	-webkit-animation:'rot3d' 4s linear 0s infinite normal;
}

#box{
	position:absolute;
	left:0px;
	top:50%;
	width:100%;
	-webkit-perspective:400;
	-webkit-perspective-origin:0px 0px;
}

@-webkit-keyframes 'rot3d'{
	0% {-webkit-transform:rotateY(0deg);}
	100% {-webkit-transform:rotateY(360deg);}
}